@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins, "system-ui";
}

.text-transparent-with-border {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;
}

.marquee {
  overflow: hidden;
}

:root {
  --space: 20%;
  --translate: calc(var(--space) + 34%);
  --x: calc(-1 * var(--translate));
}

.marquee__inner {
  animation: marquee_animation 4s linear forwards infinite;
}

.marquee__inner h2 + h2 {
  padding-left: var(--space);
}

.marquee__inner h2 {
  font-size: 8rem;
  font-weight: 100;
}

@keyframes marquee_animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--x));
  }
}
